

body {
  display: flex;
  justify-content: center;
  align-items:center; 
  background-image: linear-gradient(rgb(30,48,56), rgb(148,167,173),rgb(218,211,203), rgb(233,201,154));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#head, #content {
  width:90%;  
  margin: 0 auto;
}

#profile-card {
  margin: 0 auto;
  width: 820px;
  background-color: rgba(255,255,255,.3);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  box-shadow: 20px 20px 4px black;
  border: 2px solid black;
  margin-top: 20vh;
}

#profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50px;
  margin-top: -120px;
  border: 3px solid white;
}

#profile-img:hover {
  transition: all 0.65s ease-in-out;
  border-radius: 50%;
  transform: scale(1.2);
}

#name-headline {
  margin:10px auto;
  padding: 45px;
  max-width: 50%;
  border: 1px solid black;
  border-top-left-radius: 75%;
  border-top-right-radius: 25%;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 75%;
}

strong {
  font-weight: bolder;
}

h1 {
  font-weight: bolder;
  font-size: 36px;
  margin: 5px;
}

#head, #links {
  text-align: center;
}

#about {
  width: 90%;
  font-size: 20px;
  line-height: 1.3em;
  letter-spacing: 0.02em;
  text-align: justify;
  margin: 0 auto;
  font-family: 'Source Sans Pro', sans-serif;
}
#about::first-letter {
  font-size: 30px
}

hr {
  margin-top: 30px;
  border: 4px solid black;
  border-radius: 50%;
}

h2 {
  text-align: center;
  font-size: 30px;
  font-style: italic; 
  margin: 20px auto;
}

#contact {
  text-align: center;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid black;
  width: 300px;
  margin-top: 20px;
  margin-bottom: 10px;
  clear: both;
}

i:hover {
  color:blue;
  transform: scale(1.2)
}

h3 {
  font-size: 22px;
}

.skill-lista {
  list-style: circle;
}

.links {
  margin-top: 10px;
  list-style: none;
  display: inline-flex;
  letter-spacing: 1.5em;
  color: blue;
}


#firstcoloumn, #secondcoloumn {
  display: inline-block;
  margin: 0 30px;
}

#skills {
  display: flex;
  justify-content: center;
}
